@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/index.js"></script>

<div class="text-center">
    <div>
        <input id="primeNumber" type="number" placeholder="Prime Number" />
        <button id="submitPrimeNumberBtn" onclick="calculatePrime()">Calculate</button>
    </div>
    <div>
        <div id="primeCalcHeader">Result</div>
        <div id="primeCalcResult"></div>
    </div>
</div>
